// start .sEvents
.sEvents {
	padding-top: rem(38);
	position: relative;

	.container {
		position: relative;
		z-index: 2;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100vw;
		height: rem(331px);
		top: 0;
		left: 0;
		background-color: $light;
	}

	h2 {
		text-transform: uppercase;

		@include media-breakpoint-up(md) {
			margin-right: rem(112);
		}

		line-height: 1.5;
		margin-bottom: 0;
		letter-spacing: rem(1.8);
	}

	.section-title {
		@include media-breakpoint-up(md) {
			display: flex;
			align-items: center;
		}

		padding-bottom: calc(var(--sTPB) + 3px);

		&__showAll {
			font-weight: bold;
		}
	}

	&__controls {
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}

	.eventSlider-next {
		margin-left: rem(15);

		@include media-breakpoint-up(sm) {
			margin-left: rem(60);
		}
	}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(sm) {}
}// end.sEvents

.eventSlider {
	.swiper-container {
		overflow: visible;
		@include media-breakpoint-up(sm) {
			max-width: rem(1553px);
		}
		max-width: 80vw;
		margin-left: 0;
	}

	&-prev,
	&-next {
		background: transparent;
		border: none;
	}
}

.flyItems {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	.icon {
		color: $primary;
		font-size: rem(40);
	}

	&__item {
		position: absolute;
		width: rem(30px);
		&--1 {
			top: rem(10px) !important;
			left: rem(40px) !important;
		}
		&--2 {
			top: rem(25px) !important;
			left: 50% !important;
		}
		&--3 {
			top: rem(20px) !important;
			right: rem(40px);
			left: auto !important;

			@include media-breakpoint-up(xxxl) {
				right: 30%;
			}
		}
		&--4 {
			top: auto !important;
			bottom: rem(30px);
			left: rem(70px) !important;
		}
		&--5 {
			top: rem(50px) !important;
			left: 40% !important;
			
			.icon {
				font-size: rem(60);
			}
		}
		&--6 {
			top: auto !important;
			left: auto !important;
			right: rem(90px);
			bottom: rem(20px);
		}
		&--7 {
			top: auto !important;
			bottom: rem(30px);
			left: 40% !important;
		}
		&--8 {
			top: 60%!important;
			left: 2%!important;
		}
		&--9 {
			top: 180px !important;
			left: 34% !important;
		}
		&--10 {
			top: -50px !important;
			left: 35% !important;
		}
		&--11 {
			left: auto !important;
			right: 20%;
			top: 10% !important;
		}
	}
}

.fly-items-js {
	@include media-breakpoint-down(lg) {
		display: none;
	}
}