mixin sEvents()
	// start sEvents
	+b.SECTION.sEvents.section#sEvents&attributes(attributes)
		.container
			.row
				.col
					+b.section-title
						h2 Music
				.col-auto
					+e.controls
						button.eventSlider-prev(type="button")
							img(src="img/chevron-left-brown.svg", loading="lazy" alt="slider nex")
						button.eventSlider-next(type="button")
							img(src="img/chevron-right-brown.svg", loading="lazy" alt="slider prev")
			+b.eventSlider
				.swiper-container.eventSlider-js
					.swiper-wrapper
						.swiper-slide
							+player(4, 'early_recordings.png','sl')
								a.link-modal-js(href="#modal-call") Download: zip
						.swiper-slide
							+player(1, 'sitting-by-the-window-cover.png', 'sl')
								a.link-modal-js(href="#modal-call") Download: zip
						.swiper-slide
							+player(2, 'ab67616d0000b273e86d51da8e2773c8e004401e.jpg', 'sl')
								a.link-modal-js(href="#modal-call") Download: zip
						.swiper-slide
							+player(3, 'sitting_by_the_window.png','sl')
								a.link-modal-js(href="#modal-call") Download: zip


	// end sEvents