mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row.align-items-center
				+e.lower-col.col
					+e.all-rights #[span.currentYear] © Taylor Hayward
				+e.lower-col.col-md-6.col-lg-auto
					+e.A.tell(href="tel:(617)6972201") (617) 697-2201
				+e.lower-col.col-md-6.col-lg-auto
					+e.A.mail(href="mailto:taylor@taylorhayward.com") taylor@taylorhayward.com
				+e.lower-col.col-md-6.col-lg-auto
					+e.A.addres(href="https://goo.gl/maps/15LHJu1nYCXiga8K9" target="_blank") 391 Concord Avenue, Cambridge, MA 02138