mixin sAlbums()
	// start sAlbums
	+b.SECTION.sAlbums.section#sAlbums&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Music
			<iframe src="https://open.spotify.com/embed/artist/4U5MAmJil1tym2GO72tSh7?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			<iframe src="https://open.spotify.com/embed/album/1ugD376bCCHgoOyIEHRxL9?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			<iframe src="https://open.spotify.com/embed/album/7oJyCNSFoqNJt5L2A9pkBX?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			<iframe src="https://open.spotify.com/embed/album/4IGVS2XOD3iDzoREJMccvC?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			<iframe src="https://open.spotify.com/embed/album/4IGVS2XOD3iDzoREJMccvC?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			<iframe src="https://open.spotify.com/embed/album/3uZKswAssh5KJB64RwyMwp?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

	// end sAlbums