
mixin modal()
    div(id="modal-call"  style="display: none" )
        +b.modal-win
            +form-wrap
                .text-center
                    +e.title.form-data.h3.ttu Download music
                +input("Email",'email')(required)
                +e.BUTTON.btn.btn(type="submit") Download