.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-audio {
	font-size:(200/10)*1rem;
	width:(200/200)*1em;
}
.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(13/10)*1rem;
	width:(7/13)*1em;
}
.icon-chevron-left-brown {
	font-size:(44/10)*1rem;
	width:(23/44)*1em;
}
.icon-chevron-right {
	font-size:(13/10)*1rem;
	width:(7/13)*1em;
}
.icon-chevron-right-brown {
	font-size:(44/10)*1rem;
	width:(23/44)*1em;
}
.icon-fb {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-music-solid {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-note-piano {
	font-size:(500/10)*1rem;
	width:(250/500)*1em;
}
.icon-piano {
	font-size:(500/10)*1rem;
	width:(458.59/500)*1em;
}
.icon-play {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-spotify {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-youtube {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
