// start .headerBlock
.headerBlock {
	padding-top: calc(var(--sPT) / 2);
	padding-bottom: 0;

	&__slCol {
		position: relative;
	}

	&__col {
		position: relative;
		z-index: 2;
		overflow: hidden;
		background-color: #fff;
		@include media-breakpoint-up(xl) {
			overflow: visible;
		}
		@include media-breakpoint-only(lg) {
			padding-right: 0;
		}
		@include media-breakpoint-up(lg) {
			padding-left: 0;
			border-left: solid 1px #e0e0e0;
			padding-top: rem(357);
			margin-top: rem(-400);
			padding-bottom: rem(60px);
		}
		@include media-breakpoint-up(xl) {
			padding-right: 0;
		}

		&::before {
			@include media-breakpoint-up(md) {
				content: '';
				width: 50vw;
				left: 100%;
				top: 0;
				height: 100%;
				position: absolute;
				background-color: #fff;
			}
		}
	}

	&__content {
		position: relative;
		z-index: 2;
		max-width: rem(230);
		margin-left: auto;
	}

	&__contentWrapper {
		width: 100%;
		height: 100%;
		position: relative;
		padding-left: 0;
		padding-top: rem(30);
		padding-bottom: rem(0);
		@include media-breakpoint-between(sm, lg) {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: flex-end;
		}
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(170);
			padding-top: 0;
			padding-left: rem(15);
		}
		@include media-breakpoint-up(xl) {
			padding-left: 40%;
		}
		@include media-breakpoint-up(xxxl) {
			padding-left: rem(360);
		}
	}

	&__txtWrap {
		position: relative;
		z-index: 2;
	}

	@include media-breakpoint-up(lg) {
		.container-fluid {
			padding-left: 0;
		}
	}

	li {
		list-style: none;
		margin-bottom: rem(8);
		@extend .h5;

		a {
			line-height: 1.5;
			border-bottom: solid 2px transparent;

			&:hover {
				border-bottom: solid 2px $primary;
			}
		}
	}

	h1, h2, .h2, .h1 {
		@extend .mono;
		@include rfs(#{30px});
		line-height: 1.4;
		margin-bottom: rem(30);
	}

	&__photo {
		@include media-breakpoint-down(md) {
			max-width: rem(300);
		}
		@include media-breakpoint-down(lg) {
			max-width: rem(400);
			padding-top: rem(20);
			margin-left: calc(-1 * var(--bs-gutter-x));
			padding-right: rem(30);
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			bottom: 0;
			left: 0;
			margin-right: rem(50px);

			img {
				border-radius: 0 50px 0 0;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 50vw;
				height: 1px;
				background: #e0e0e0;
			}
		}
		@include media-breakpoint-up(xl) {
			margin-right: rem(150);
		}
		@include media-breakpoint-up(xxl) {
			margin-right: rem(100px);
		}
		@include media-breakpoint-up(xxxl) {
			margin-right: rem(200px);
		}
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
}// end.headerBlock

.headerSlider {
	position: relative;
	max-width: none;
	padding-bottom: rem(10);
	@include media-breakpoint-up(lg) {
		padding-bottom: rem(61);
		margin-left: calc(-1 * (100vw - 124%) / 2);
		margin-right: 30px;
	}
	@include media-breakpoint-up(xl) {
		margin-left: calc(-1 * (100vw - 155.5%) / 2);
	}
	@include media-breakpoint-up(xxxl) {
		margin-left: calc(-1 * (100vw - 154%) / 2);
		margin-right: 30px;
	}

	.swiper-slide {
		height: initial;
	}

	.swiper-container {
		&::after {
			content: '';
			position: absolute;
			left: calc(100% + 40px);
			height: 100%;
			width: 100vw;
			background-color: #ffffff;
			top: 0;
			z-index: 2;
		}

		overflow: visible;
	}

	&__slide {
		background: rgba($color: #000000, $alpha: 0.3);
		position: relative;
		padding: rem(60) rem(20) rem(120) rem(20);
		@include media-breakpoint-up(sm) {
			padding: rem(100) rem(60) rem(80) rem(90);
		}
		@include media-breakpoint-up(lg) {
			padding: rem(120) rem(63) rem(90) rem(150);
		}

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 95%;
			top: 2%;
			left: 2%;
			border: 2px solid #000000;
		}

		img {
			object-position: center;
		}
	}

	&__nav {
		position: absolute;
		bottom: rem(40);
		width: rem(170);
		display: flex;
		align-items: center;
		z-index: 2;
		@include media-breakpoint-up(sm) {
			bottom: 17%;
			right: 67%;
		}
		@include media-breakpoint-up(md) {
			bottom: 18%;
		}
		@include media-breakpoint-up(lg) {
			bottom: 24.4%;
			right: 71%;
		}
		@include media-breakpoint-down(sm) {
			left: 50%;
			transform: translateX(-50%);
		}

		button {
			background: transparent;
			border: none;
		}
	}

	h2, .h2 {
		color: #fff;
		margin-bottom: rem(69);
		max-width: rem(750px);
		position: relative;
		z-index: 2;
	}


	&-pugin {
		color: #fff;
		text-align: center;
		flex-shrink: 0;
		@extend .mono;
		font-size: rem(20);
		width: auto;
		flex-grow: 1;
	}

	&__btn {
		display: block;
		position: relative;
		z-index: 2;
		@include media-breakpoint-up(sm) {
			margin-left: auto;
			max-width: rem(185);
		}
	}
}