mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			.row
				+e.slCol.col-lg-10.col-xl-9.col-xxxl-8
					+b.headerSlider
						.swiper-container.headerSlider-js
							.swiper-wrapper
								mixin slide(data)
									.swiper-slide
										+e.slide
											picture.picture-bg
												source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/headerSlider-${data.img}.webp` type="image/webp")
												img.object-fit-js.img-bg.swiper-lazy(src="#" data-src=`img/@2x/headerSlider-${data.img}.jpg`, alt= data.title)
											.h1!= data.title
											+e.btn.btn.btn-primary(href="/music.html") Listen
								+slide({
									title: 'Early Recordings',
									img: '1'
								})
								+slide({
									title: 'As The Covering Water of the Sea',
									img: '2'
								})
								+slide({
									title: 'Ocean of Night',
									img: '3'
								})
								+slide({
									title: 'Forest Voyage',
									img: '4'
								})
						+e.nav
							button.headerSlider-prev(type="button")
								img(src="img/chevron-left.svg", alt="previous slide")
							.headerSlider-pugin
							button.headerSlider-next(type="button")
								img(src="img/chevron-right.svg", alt="next slide")

				+e.col.col-lg-2.col-xl-3.col-xxxl-4
					+e.contentWrapper
						+e.photo 
							picture
								source(srcset=`img/@2x/webp/photo-2-bg.webp` type="image/webp")
								img(src=`img/@2x/photo-2-bg.png`, alt="Taylor Hayward")
						h1 Taylor Hayward
						+soc()
					

	// end headerBlock