extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sEvents/_sEvents.pug


block variables
	- let  mainPage= 'mainPage'
block title
	- let  title= 'Taylor Hayward - Ambient Classical Piano'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	+headerBlock()
	+sEvents()
	+footer()
