extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAlbums/_sAlbums.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Taylor Hayward - Ambient Classical Piano'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	+sAlbums()
	+footer()


	