mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		+b.contentFlyItems.fly-items-js
			+e.item--1(data-depth="0.1")
				+icon('music-solid')
			+e.item--2(data-depth="0.2")
				+icon('music-solid')
			+e.item--3(data-depth="0.3")
				+icon('piano')
			+e.item--4(data-depth="0.1")
				+icon('piano')
			+e.item--5(data-depth="0.4")
				+icon('note-piano')
			+e.item--6(data-depth="0.1")
				+icon('note-piano')
			+e.item--7(data-depth="0.5")
				+icon('note-piano')
			+e.item--8(data-depth="0.5")
				+icon('music-solid')
			+e.item--9(data-depth="0.5")
				+icon('audio')
		.container
				
			block
	// end sContent