// start .sContent
.sContent {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;

	p {
		@include rfs(#{rem(20)});
	}

	p, h1, .h1, h2, .h2 {
		text-shadow: 0px 0px 3px $white;
	}

	.container {
		position: relative;
		z-index: 2;
	}

	.section-title {
		display: flex;
		align-items: center;

		&__imgWrap+h1 {
			margin-bottom: 0;
		}

		&__imgWrap {
			max-width: 150px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: rem(10);

			@include media-breakpoint-up(md) {
				margin-right: rem(25);
				max-width: 250px;
			}
		}
	}

	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {}

}

// end.sContent

.contentFlyItems {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	.icon {
		color: $primary;
		font-size: rem(30);
	}

	&__item {
		position: absolute;
		width: rem(30px);

		&--1 {
			top: rem(10) !important;
			left: 10% !important;
		}

		&--2 {
			top: rem(50) !important;
			left: 70% !important;
		}

		&--3 {
			top: 90% !important;
			left: rem(10px) !important;
		}

		&--4 {
			top: 95% !important;
			left: 70% !important;
		}

		&--5 {
			top: 30% !important;
			left: 60% !important;
		}

		&--6 {
			top: 15% !important;
			left: 30% !important;
		}

		&--7 {
			top: 80% !important;
			left: 90% !important;
		}

		&--8 {
			top: 95% !important;
			left: 30% !important;
		}

		&--9 {
			top: 40% !important;
			left: 1% !important;
		}
	}
}