 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover{
			opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);

		&-spotify {
			font-size: rem(25)
		}
	}
	

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

