mixin allcss()
	link(rel="stylesheet", href="libs/swiper/css/swiper.min.css")
	link(rel="stylesheet", href="libs/@fancyapps/fancybox/jquery.fancybox.min.css")
	link(rel="stylesheet", href="css/main.min.css")

mixin allcjs()
	script(src="js/lazy.js")
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	script(src="libs/swiper/js/swiper.min.js")
	script(src="libs//parallax-js/parallax.min.js")
	script(src="js/common.js")
