mixin allcss()
	link(rel="stylesheet", href="libs/swiper/css/swiper.min.css")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	link(href="libs/plyr/plyr.css", rel="stylesheet")
	link(rel="stylesheet", href="css/main.min.css")

mixin allcjs()
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js")
	script(src="libs/plyr/plyr.min.js")
	script(src="libs/html5media/api/1.1.8/html5media.min.js")
	script(src="libs/swiper/js/swiper.min.js")
	script(src="libs//parallax-js/parallax.min.js")
	script(src="js/common.js")
