
//- menu
mixin mnu()
	-
		var nav= {
			"Home": "/",
			"Music": "/Music.html",
			"Rights": "/Rights.html",
			"About": "/About.html"
			}
	+b.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu