mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")&attributes(attributes)
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('fb', 'https://facebook.com/244038162326995/')
			+item-sos('spotify', 'https://open.spotify.com/artist/4U5MAmJil1tym2GO72tSh7?si=McCLhKqeRyC_ff4DrCxjxQ')

//- /social buttons 